.BlackCover {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-items: center;
}

.BlackCover .Container {
  margin: 0 auto;
}

.BlackCover .close {
  filter: invert(100%) sepia(28%) saturate(2%) hue-rotate(286deg) brightness(114%) contrast(100%);
  position: fixed;
  z-index: 1000;
  top: 15px;
  right: 15px;
  width: 60px;
  cursor: pointer;
}

.BlackCover .Container .Img {
  width: 90%;
  margin: 0 5% auto 5%;
}

.BlackCover .Container .Txt {
  position: fixed;
  background-color: rgba(255, 0, 132, 0.5);
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 15px 90px 15px 15px;
}